<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>199280973577-93r2bo5to7pkcfe1g4bke7gmkd5r4ofc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199280973577-93r2bo5to7pkcfe1g4bke7gmkd5r4ofc</string>
	<key>API_KEY</key>
	<string>AIzaSyD-FTZ0G4N70dmpp9xskp-EqMqhkd9dr38</string>
	<key>GCM_SENDER_ID</key>
	<string>199280973577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mochileiros</string>
	<key>PROJECT_ID</key>
	<string>mochileiro-bff72</string>
	<key>STORAGE_BUCKET</key>
	<string>mochileiro-bff72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199280973577:ios:24fc3120149a8a97</string>
	<key>DATABASE_URL</key>
	<string>https://mochileiro-bff72.firebaseio.com</string>
</dict>
</plist>